logs
log.file_IS_UNDEFINED
target
.g8
.ensime_cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.log
.ensime
/.bloop
/.metals
/.vscode
/project/project
/project/.bloop
/project/metals.sbt
.bsp
/null